.App {
  text-align: center;
}

.main__addButton{
  position: fixed;
  top:95%;
  left:95%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  /* border-radius: 50%; */
  color: lightcoral;
  font-size: 2rem;
  box-shadow: 2px 2px lightgray;
  background-color: lightseagreen;
}